<center>
  <%= image_tag("ico-logs.png", class: "logo") %>
</center>

<div class="back-btn">
  <%= link_to '', logs_path, class: "glyphicon glyphicon-remove" %>
</div>

<div class="container-fluid card">
  <div class="row form">
    <%= render 'form' %>
  </div>
</div>

<div class="text-center">
  <%= link_to 'Remove', @log, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
