<!DOCTYPE html>
<html>
<head>
  <title>Flog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/lrb6oto.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="body">

<%= yield %>

</body>
</html>
